<!DOCTYPE html>
<html lang='es'>
<style>
	img { width:100px;}
</style>
  <header>
  	<nav>
  		<ul>
			<li><a href='/'>Inicio</a></li>
			<li><a href='/eventos'>Eventos</a></li>
            <li><a href='/municipios'>Municipios con más eventos</a></li>
			<li><a href='/eventos_fecha'>Buscar eventos por fecha</a></li>
			<li><a href='/eventos_idioma'>Buscar eventos por idioma</a></li>
		</ul>
	</nav>
  </header>
  <section>
    <h1>Eventos por tipo</h1>
	<ul>
		{% for tipo in tipoeventos %}
			<li>{{tipo}}<li>
			{% for evento in eventos %}
				{% if evento.tipo == tipo %}
	  				<ul>
						<li>
							- {{evento.nombre}}, {{evento.fecha}} {{evento.lugar}}<br>
						</li>
	    			</ul>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
  </section>
</html>