{% extends 'master.html' %}

{% block titulo %} Lista de eventos {% endblock %}


{% block eventos %} uk-active {% endblock %}

{% block paginaActiva %}
	<li class="uk-active"><span>Lista de eventos</span></li>
{% endblock %}


{% block contenido %}
 <h1>Eventos por tipo</h1>
	<ul>
		{% for tipo in tipoeventos %}
			<li>{{tipo}}<li>
			{% for evento in eventos %}
				{% if evento.tipo == tipo %}
	  				<ul>
						<li>
							- {{evento.nombre}}, {{evento.fecha}} {{evento.lugar}}<br>
						</li>
	    			</ul>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
{% endblock %}
