{% extends 'master.html' %}

{% block titulo %} Buscar eventos por fecha{% endblock %}


{% block eventos_lengua %} uk-active {% endblock %}

{% block paginaActiva %}
	<li class="uk-active"><span>Buscar eventos por lengua</span></li>
{% endblock %}
		    

{% block contenido %} 
    <div class="uk-animation-slide-bottom">
    	<form class="uk-form" id="formulario" method="post" action=''>{% csrf_token %}
    		<fieldset>
    			<legend>Busqueda de eventos por lengua</legend>
				<input type="text" name="lengua" id="id_lengua" placeholder="Ej: Espanyol"/>
    			<BR><BR>

    			<input class="uk-button" type='submit' value='Buscar'/>
    		</fieldset>
    	</form>

	    <hr>

	    {% if eventos %}
		    <h3> Eventos con idioma:  {{ eventos|length }}</h3>
		    <dl class="uk-description-list-line">

			{% for row in eventos %}
			    <dt>{{row.nombre}}</dt>
			    <dd>{{row.fecha}} </dd>
				<dd>{{row.nombreLugar}} </dd>
			{% endfor %}

			</dl>

		{% endif %}
	</div>
{% endblock %}